<!-- Static sidebar for desktop -->
<div class="md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex-1 flex flex-col min-h-0 bg-gray-100 border-r border-gray-200">
    <div class="flex-1 flex flex-col p-4 overflow-y-auto">
      <nav class="navbar-nav flex-1 px-2 space-y-1">
        <div class="mb-4 flex">
          <!-- <img src="https://cdn.discordapp.com/attachments/1170429889829154970/1214665643031269447/mdb_41.png?ex=65f9f088&is=65e77b88&hm=24fb925a767fc0635fbcc7622132e6470e0cf5ed0d6eced973124648ceee4cdc&" class="h-8 mt-1 w-auto rounded-lg shadow mr-3"> -->
          <img src="https://cdn.discordapp.com/attachments/1170429889829154970/1214660996367392868/mercurysrv_5.png?ex=65f9ec34&is=65e77734&hm=ab8d5a3a80a063e404d24e227ef3393ac6e7d531e5ed6ab38a19abe0ec01e30e&" class="h-10 w-auto flex-shrink-0">
        </div>
        <a href="../../../server/<%= req.params.id %>" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M3.25 3A2.25 2.25 0 0 0 1 5.25v9.5A2.25 2.25 0 0 0 3.25 17h13.5A2.25 2.25 0 0 0 19 14.75v-9.5A2.25 2.25 0 0 0 16.75 3H3.25Zm.943 8.752a.75.75 0 0 1 .055-1.06L6.128 9l-1.88-1.693a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 0 1-1.06-.055ZM9.75 10.25a.75.75 0 0 0 0 1.5h2.5a.75.75 0 0 0 0-1.5h-2.5Z" clip-rule="evenodd" />
          </svg>
          Console
        </a>
        <a href="../../../server/<%= req.params.id %>/files" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 mr-2 text-gray-500">
            <path d="M3.75 3A1.75 1.75 0 0 0 2 4.75v3.26a3.235 3.235 0 0 1 1.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0 0 16.25 5h-4.836a.25.25 0 0 1-.177-.073L9.823 3.513A1.75 1.75 0 0 0 8.586 3H3.75ZM3.75 9A1.75 1.75 0 0 0 2 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0 0 18 15.25v-4.5A1.75 1.75 0 0 0 16.25 9H3.75Z" />
          </svg>
          Files
        </a>
        <a href="../../../server/<%= req.params.id %>/network" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 mr-2 text-gray-500">
            <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
          </svg>
          Network
        </a>
        <a href="../../../server/<%= req.params.id %>/worlds" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-1.503.204A6.5 6.5 0 1 1 7.95 3.83L6.927 5.62a1.453 1.453 0 0 0 1.91 2.02l.175-.087a.5.5 0 0 1 .224-.053h.146a.5.5 0 0 1 .447.724l-.028.055a.4.4 0 0 1-.357.221h-.502a2.26 2.26 0 0 0-1.88 1.006l-.044.066a2.099 2.099 0 0 0 1.085 3.156.58.58 0 0 1 .397.547v1.05a1.175 1.175 0 0 0 2.093.734l1.611-2.014c.192-.24.296-.536.296-.842 0-.316.128-.624.353-.85a1.363 1.363 0 0 0 .173-1.716l-.464-.696a.369.369 0 0 1 .527-.499l.343.257c.316.237.738.275 1.091.098a.586.586 0 0 1 .677.11l1.297 1.297Z" clip-rule="evenodd" />
          </svg>
          Worlds
        </a>
        <a href="../../../server/<%= req.params.id %>/options" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
          </svg>
          Settings
        </a>
      </nav>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentPageUrl = window.location.pathname; // Get the current page path

    // Get all navigation links
    var navLinks = document.querySelectorAll('.nav-link');

    // Loop through each navigation link
    navLinks.forEach(function(link) {
      // Get the href attribute of the link
      var linkUrl = link.getAttribute('href');

      // Check if the current page path matches the link URL path
      if (currentPageUrl === linkUrl.replace('../../../', '/')) {
        // Remove all existing classes
        link.className = 'nav-link';

        // Add the specified classes
        link.classList.add(
          'transition',
          'text-gray-700',
          'backdrop-blur',
          'group',
          'flex',
          'items-center',
          'px-4',
          'py-2',
          'text-sm',
          'font-semibold',
          'rounded-xl'
        );
        link.style.backgroundColor = "#e5e7eb";
      }
    });
  });
</script>